<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>ServletJSP</display-name>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MonServlet</display-name>
    <servlet-name>MonServlet</servlet-name>
    <servlet-class>toure.MonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MonServlet</servlet-name>
    <url-pattern>/Acceuil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MonServlet2</display-name>
    <servlet-name>MonServlet2</servlet-name>
    <servlet-class>toure.MonServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MonServlet2</servlet-name>
    <url-pattern>/Inscription</url-pattern>
  </servlet-mapping>
</web-app>